{% extends 'base.html' %}

{% block meta %}
<title>Profile</title>
{% endblock meta %}

{% block content %}

<div>
  <h1>Profil Saya</h1>
  <h3>Lengkapi / Edit Data Profil</h3>
  
  <p>Login sebagai: <b>{{ request.user.username }}</b></p>
  <p><a href="{% url 'userprofile:logout' %}">Logout</a></p>
  
  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input type="submit" value="Simpan" /></td>
      </tr>
    </table>
  </form>
</div>

{% endblock content %}
